<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<import resource="classpath:domainContext.xml" />
	<context:annotation-config />
	<context:component-scan base-package="com.anthem.ais.pmb.microservices" />
	<!-- Enable annotation-based Spring MVC controllers (eg: @Controller annotation) -->
	<mvc:annotation-driven />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>classpath:hibernate.properties</value>
		</property>
	</bean>
	
	<bean
		class="com.anthem.ais.pmb.claims.microservices.util.PMBPropertiesUtil">
 		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<property name="locations">
			<list>
				<value>classpath:/config/application-dev.properties</value>
			</list>
		</property>
	</bean>

	<!-- <bean id="tomcatDataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close" p:driverClassName="${hibernate.connection.driver_class}" 
		p:url="${hibernate.connection.url}" p:username="${hibernate.connection.username}" 
		p:password="${hibernate.connection.password}" p:maxActive="100" p:maxIdle="4"> 
		</bean> -->
	<!-- START : WAS Datasource Setting -->
	<jee:jndi-lookup id="webSphereDataSource "
		jndi-name="jdbc/AIS" cache="true"
		resource-ref="true" lookup-on-startup="false" proxy-interface="javax.sql.DataSource" />
	<bean id="webSphereDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/AIS" />
		<property name="lookupOnStartup" value="false" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.sql.DataSource" />
	</bean>
	<!-- /END : WAS Datasource Setting -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="webSphereDataSource"></property><!-- For WAS : ref="webSphereDataSource" -->
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- START : IBM WAS SPECIFIC PROPERTIES -->
				<prop key="hibernate.connection.datasource">${hibernate.connection.datasource}</prop> 
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop> 
				<prop key="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.WebSphereExtendedJTATransactionLookup</prop>
			<!-- /END IBM WAS SPECIFIC PROPERTIES -->

			</props>
		</property>
	</bean>
	<tx:annotation-driven />

	<!-- Tomcat Setting -->
   <!--  <bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->

	<!-- START : WAS TRANSACTION SETTINGS -->
	<bean id="transactionManager" class="org.springframework.transaction.jta.WebSphereUowTransactionManager"/>
	<!-- /END : WAS TRANSACTION SETTINGS -->

	<!-- REST TEMPLATE INITIALIZATION -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	</bean>

	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json" />
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
	</bean>

</beans>
