<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.anthem.ais.pmb.claims.microservices.domain.entity.ClaimsPayment" />
		<mapping class="com.anthem.ais.pmb.claims.microservices.domain.entity.ClaimsPaymentPK" />
		<mapping class="com.anthem.ais.pmb.claims.microservices.domain.entity.Hcid2Token" />
		<mapping class="com.anthem.ais.pmb.claims.microservices.domain.entity.HcidSequenceNumber2Uuid" />
		<mapping class="com.anthem.ais.pmb.claims.microservices.domain.entity.MemberIndicated" />
		<mapping class="com.anthem.ais.pmb.claims.microservices.domain.entity.MemberIndicatedPK" />
	</session-factory>
</hibernate-configuration>